@model List<CookiesShop.Models.Product>
@{
    ViewBag.Title = "Myorder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    double sum = 0;
}
<style>
    a{
        margin-left:5px;
    }
</style>
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
    .label
{
    font-size: 10pt;
    font-weight: bold;
    font-family: Arial;
}
.contents
{
    border: 1px dotted black;
    padding: 5px;
    width: 300px;
}
.name
{
    color: #18B5F0;
}
.left
{
    float: left;
    width: 50px;
    height: 50px;
}
.right
{
    margin-left: 60px;
    line-height:50px;
}
.clear
{
    clear: both;
}
 #footer
{
    position:fixed;
    bottom: 0px;
    height: 3px;
    background-color: #666;
    color: #eee;
    width:100%
}

</style>*@
<script type="text/javascript">
$(function () {
    $("#btnPrint").click(function () {
        var contents = $("#dvContents").html();
        var frame1 = $('<iframe />');
        frame1[0].name = "frame1";
        frame1.css({ "position": "absolute", "top": "-1000000px" });
        $("body").append(frame1);
        var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
        frameDoc.document.open();
        //Create a new HTML document.
        frameDoc.document.write('<html><head><title>DIV Contents</title>');
        frameDoc.document.write('</head><body>');
        //Append the external CSS file.
        frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" />');
        //Append the DIV contents.
        frameDoc.document.write(contents);
        frameDoc.document.write('</body></html>');
        frameDoc.document.close();
        setTimeout(function () {
            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            frame1.remove();
        }, 500);
    });
});
</script>
    <div id="container" style="margin-top:5%;padding:8%;">
        <div class="row">
            @if (Model != null)
            {

                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th>Product No.</th>
                            <th>Product Name</th>

                            <th>Image</th>
                            <th>Quantity</th>
                            <th>Price</th>

                            <th>Remove</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var x in Model)
                        {
                            string pro = "PRO" + x.Id.ToString();
                            <tr>

                                <td>@pro</td>
                                <td>@x.ProductName</td>
                                <td>

                                    <img id="img1" src="~/Content/images/@x.Url" height="100" width="75" />

                                </td>
                                <td>@x.Quantity</td>
                                <td>$ @x.Price</td>

                                <td>


                                    <button id="btn_delete" class="label label-primary" data-slno="@x.Id" onclick="location.href='@Url.Action("Remove", "AddToCart", new { Id = x.Id })'">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>

                        }

                    </tbody>

                    @foreach (var x in Model)
                    {
                        sum = Convert.ToDouble(x.Price) + sum;

                    }
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>Total</b></td>
                            <td>
                                $  @sum
                            </td>
                            <td></td>
                        </tr>

                    </tfoot>

                </table>
                <a href="@Url.Action("Index", "Home")" class="btn btn-success">Continue Shopping</a>
                <a href="@Url.Action("Order","Home")" class="btn btn-warning">Place Order</a>
            }
            else
            {
                <h3>Cart is empty.</h3>
                <p><a href="@Url.Action("Index", "Home")" class="btn btn-success">Continue Shopping</a></p>
            }
        </div>
    </div>
